<style>
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 20px;
    }
    form {
        text-align: center;
    }
    #myCanvas {
        z-index: -1;
        position: relative;
        top: -100;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
	var canvas;
	var ctx;
	var Leaf = function() {
		this.img;
		this.x;
		this.y = 0;
	}
	var leaves = [];
	var duration;
	
	
	var addLeaf = function() {
		var img = new Image();
		function drawBackground() {
			var x =  Math.floor(Math.random()*$(window).width());
			ctx.drawImage(img, x, 0, 70, 70);
		   
			var leaf = new Leaf();
			leaf.x = x;
			leaf.img = img;
			leaves.push(leaf);
				
		}
		img.onload = drawBackground;
		img.src = "http://images.fineartamerica.com/images-medium-large/fall-leaf-carlos-caetano.jpg";
		leaves.push(img);
		
		duration = Math.random() * 10 * 1000; 
        setTimeout('addLeaf()', duration);
		
	}
	
	var x_offset = 10;
	var y_offset = 10;
	var animate = function(){
		for (var i=0; i<leaves.length; i++) {
		    if (i % 2 != 0 && Math.abs(leaves[i].y - $(window).height()) > 200) {
		    //console.log(leaves[i].y);
		    //console.log(Math.abs(leaves[i].y - $(window).height()));
			leaves[i].x = leaves[i].x + x_offset;
			leaves[i].y = leaves[i].y + y_offset;
			}
		}
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		for (var i=0; i<leaves.length; i++) {
		    if (i % 2 != 0) {
		    ctx.drawImage(leaves[i].img, leaves[i].x, leaves[i].y, 70, 70);
		    }
		}
	}
	
	var changeDirection = function() {
	    x_offset = Math.random() * 15;
	    y_offset = Math.random() + 1;
	    if (Math.random() > 0.5) {
	        x_offset = -x_offset;
	    }
	}
		
		
    var Main = function() {
        q=$('#thing').text();
        $('#voice').prop("src", "http://tts-api.com/tts.mp3?q="+q); //voice for text
        
        
        canvas = document.createElement('canvas');
		ctx = canvas.getContext('2d');
		
		canvas.width = $(window).width();
		canvas.height = $(window).height();
		canvas.id = "myCanvas";
		
		
		var duration = Math.random() * 2 * 1000; 
        setTimeout('addLeaf()', duration);
		
		
		
		
		var animateInterval = setInterval(function(){animate()},100);
		var changeDirectionInterval = setInterval(function(){changeDirection()},5000);
			
		
		$('body').append(canvas);
		
		
		
		
		
		
		
        
        
       
	}
        
    $(document).ready(Main);
</script>
<h1> What should I do? </h1>
<form method="GET">
    <!--<input type="text" name="box1">
    <select>
      <option value="Confucius">Confucius</option>
      <option value=""></option>
      <option value=""></option>
      <option value="own"></option>
    </select>-->
</form>
<!--<p> You wrote: </p>
<% if (locals.user_input != undefined) { %>
    <div><%- user_input %></div>
<% } %>-->

<p id="thing"> I should <%- verb %> <%- noun %>, <%- verb2 %> <%- noun2 %>, and be <%- adj %></p> 

<audio autoplay="autoplay" id="voice" type="audio/mp3">
</audio>
