<style>
    h1 {
        text-align: center;
        font-size: 50px;
    }
    p {
        text-align: center;
        font-size: 30px;
    }
    form {
        text-align: center;
    }
    #myCanvas {
        position: relative;
        top: -50;
    }
    body {
        background-image: url('/tree.jpg');
        background-repeat: no-repeat;
        background-position:center; 
        background-color: black;
        
    }
    #title, #para {
        background-color:rgba(255,255,255,0.5);
        width: 1200px;
        text-align: center;
        
    }
    #title {
    	margin-top: 20px;
    	margin-bottom: 20px;
    	height: 100px;
    	padding-top: 1px;
    	padding-bottom: 1px;
    	
    }

</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
	var canvas;
	var ctx;
	var Leaf = function() {
		this.img;
		this.x;
		this.y = 0;
		this.stopped = false;
	}
	var leaves = [];
	var duration;
	
	
	
	
	var addLeaf = function() {
		var img = new Image();
		function drawBackground() {
			var x =  Math.floor(Math.random()*$(window).width());
			ctx.drawImage(img, x, 0, 70, 70);
		   
			var leaf = new Leaf();
			leaf.x = x;
			leaf.img = img;
			leaves.push(leaf);
				
		}
		img.onload = drawBackground;
		img.src = "http://www.pixelscrapper.com/legacy/sites/default/files/imagecache/resize_500_nocrop/assets/user-1/node-1368/image/marisa-lerin-fall-leaf-2-asset-embellishment-ephemera-commercial-use.png";
		leaves.push(img);
		
		duration = Math.random() * 30 * 1000; 
        setTimeout('addLeaf()', duration);
		
	}
	
	var x_offset = 10;
	var y_offset = 10;
	var animate = function(){
		for (var i=0; i<leaves.length; i++) {
		    if (Math.abs(leaves[i].y - $(window).height()) < Math.random()*30) {
		        leaves[i].stopped = true;
		    }
		    else if (i % 2 != 0 && !leaves[i].stopped) {
				leaves[i].x = leaves[i].x + x_offset;
				leaves[i].y = leaves[i].y + y_offset;
			} 
		}
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		for (var i=0; i<leaves.length; i++) {
		    if (i % 2 != 0) {
		    ctx.drawImage(leaves[i].img, leaves[i].x, leaves[i].y, 70, 70);
		    }
		}
	}
	
	var changeDirection = function() {
	    x_offset = Math.random() * 10;
	    y_offset = Math.random() + 1;
	    if (Math.random() > 0.5) {
	        x_offset = -x_offset;
	    }
	    //ctx.rotate(90*Math.PI/180);
	}
		
	var change = function() {
		var animateInterval = setInterval(function(){animate()},150);
		var changeDirectionInterval = setInterval(function(){changeDirection()},5000);
	}
		
    var Main = function() {
        q=$('#thing').text();
        $('#voice').prop("src", "http://tts-api.com/tts.mp3?q="+q); //voice for text
        
        
        canvas = document.createElement('canvas');
		ctx = canvas.getContext('2d');
		
		canvas.width = $(window).width();
		canvas.height = $(window).height();
		canvas.id = "myCanvas";
		
		
		var duration = Math.random() * 2 * 1000; 
        setTimeout('addLeaf()', duration);
        
		setTimeout('change()', duration+2000);
			
		
		$('body').append(canvas);
       
	}
        
    $(document).ready(Main);
</script>
<center><div id="title"><h1> What should I do? </h1></div></center>
<form method="GET">
    <!--<input type="text" name="box1">
    <select>
      <option value="Confucius">Confucius</option>
      <option value=""></option>
      <option value=""></option>
      <option value="own"></option>
    </select>-->
</form>
<!--<p> You wrote: </p>
<% if (locals.user_input != undefined) { %>
    <div><%- user_input %></div>
<% } %>-->

<center><div id="para"><p id="thing"> I should <%- verb %> <%- noun %>, <%- verb2 %> <%- noun2 %>, and be <%- adj %></p></div></center>

<audio autoplay="autoplay" id="voice" type="audio/mp3">
</audio>
